In [19]:
import pandas as pd
import boto3
from sagemaker import get_execution_role

role = get_execution_role()
print(role)

arn:aws:iam::724512711323:role/SageMakerExecutionRole-HelloWorld

In [20]:
conn= boto3.client('s3')

In [21]:
bucket='my-sagemaker-hello-world'

In [22]:
content=conn.list_objects(Bucket=bucket)["Contents"]

In [23]:
content

[{'Key': 'code/',
  'LastModified': datetime.datetime(2026, 2, 1, 10, 11, 59, tzinfo=tzlocal()),
  'ETag': '"d41d8cd98f00b204e9800998ecf8427e"',
  'ChecksumAlgorithm': ['CRC64NVME'],
  'ChecksumType': 'FULL_OBJECT',
  'Size': 0,
  'StorageClass': 'STANDARD',
  'Owner': {'ID': '5f09548dc9a782bdcd7fda3070422e79c3beec974dffe2d0530abb69b9d2f6a6'}},
 {'Key': 'code/hello_world.py',
  'LastModified': datetime.datetime(2026, 2, 1, 10, 12, 21, tzinfo=tzlocal()),
  'ETag': '"fcc1e2d0f21e883a5d0ed7f0d95367c7"',
  'ChecksumAlgorithm': ['CRC64NVME'],
  'ChecksumType': 'FULL_OBJECT',
  'Size': 411,
  'StorageClass': 'STANDARD',
  'Owner': {'ID': '5f09548dc9a782bdcd7fda3070422e79c3beec974dffe2d0530abb69b9d2f6a6'}},
 {'Key': 'household2.csv',
  'LastModified': datetime.datetime(2026, 2, 1, 11, 22, 26, tzinfo=tzlocal()),
  'ETag': '"80df995998be4e68e613448a7579b57f"',
  'ChecksumAlgorithm': ['CRC64NVME'],
  'ChecksumType': 'FULL_OBJECT',
  'Size': 212462,
  'StorageClass': 'STANDARD',
  'Owner': {'ID': '5f09548dc9a782bdcd7fda3070422e79c3beec974dffe2d0530abb69b9d2f6a6'}},
 {'Key': 'input/',
  'LastModified': datetime.datetime(2026, 2, 1, 10, 11, 51, tzinfo=tzlocal()),
  'ETag': '"d41d8cd98f00b204e9800998ecf8427e"',
  'ChecksumAlgorithm': ['CRC64NVME'],
  'ChecksumType': 'FULL_OBJECT',
  'Size': 0,
  'StorageClass': 'STANDARD',
  'Owner': {'ID': '5f09548dc9a782bdcd7fda3070422e79c3beec974dffe2d0530abb69b9d2f6a6'}},
 {'Key': 'input/input.txt',
  'LastModified': datetime.datetime(2026, 2, 1, 10, 13, 45, tzinfo=tzlocal()),
  'ETag': '"a4346e2e413acf614f2cb53f6bcaf855"',
  'ChecksumAlgorithm': ['CRC64NVME'],
  'ChecksumType': 'FULL_OBJECT',
  'Size': 15,
  'StorageClass': 'STANDARD',
  'Owner': {'ID': '5f09548dc9a782bdcd7fda3070422e79c3beec974dffe2d0530abb69b9d2f6a6'}},
 {'Key': 'output/',
  'LastModified': datetime.datetime(2026, 2, 1, 10, 53, 21, tzinfo=tzlocal()),
  'ETag': '"d41d8cd98f00b204e9800998ecf8427e"',
  'ChecksumAlgorithm': ['CRC64NVME'],
  'ChecksumType': 'FULL_OBJECT',
  'Size': 0,
  'StorageClass': 'STANDARD',
  'Owner': {'ID': '5f09548dc9a782bdcd7fda3070422e79c3beec974dffe2d0530abb69b9d2f6a6'}},
 {'Key': 'output/output.txt',
  'LastModified': datetime.datetime(2026, 2, 1, 11, 2, 3, tzinfo=tzlocal()),
  'ETag': '"649c16a49df7fa5bf0d17294a983b940"',
  'ChecksumAlgorithm': ['CRC32C'],
  'ChecksumType': 'FULL_OBJECT',
  'Size': 33,
  'StorageClass': 'STANDARD',
  'Owner': {'ID': '5f09548dc9a782bdcd7fda3070422e79c3beec974dffe2d0530abb69b9d2f6a6'}}]

In [24]:
for data in content:
    print(data['Key'])

code/
code/hello_world.py
household2.csv
input/
input/input.txt
output/
output/output.txt

In [25]:
dataset='household2.csv'

In [26]:
df=pd.read_csv(f's3://{bucket}/{dataset}')

In [27]:
df

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
...,...,...,...,...,...,...
3277,Karlen McCaffrey,Australia,Spicy Special Slims,17/05/2024,"$5,303.58",354
3278,Jehu Rudeforth,USA,White Choc,07/06/2024,"$7,339.32",121
3279,Ches Bonnell,Canada,Organic Choco Syrup,26/07/2024,$616.09,238
3280,Dotty Strutley,India,Eclairs,28/07/2024,"$2,504.62",397
3281,Karlen McCaffrey,India,70% Dark Bites,23/05/2024,"$5,915.87",355